[Unit]
Description=LED server
After=network.target

[Service]
Nice=-19
ExecStart=/usr/local/bin/ledserver
Restart=always

[Install]
WantedBy=default.target
