/**
 * Colors:
 *
 * #724ca0
 * #728940
 * #a74647
 */

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    background: black;
    color: #aaa;
}

h1 {
    font-size: 2em;
    color: #724ca0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

h2 {
    font-size: 1.25em;
    color: #728940;
}

input[type=range] {
    width: 3em;
    -webkit-appearance: slider-vertical; /* WebKit */
}


/* Fette saftig css */
html,
body {
	min-height: 100%;
	height: 100%;
}

#root {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%;
}

#root > div {
    display: flex;
	flex-flow: column;
	height: 90%;
}

.sliders {
	-ms-flex-item-align: center;
	align-self: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	height: 100%;
}

.sliders .slider {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	justify-items: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-preferred-size: 4rem;
	flex-basis: 4rem;
    width: 8em;
}

.sliders .slider input {
	height: 100%;
}
