/**
 * Colors:
 *
 * #724ca0
 * #728940
 * #a74647
 */

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    background: black;
    color: #aaa;
}

h1 {
    font-size: 2em;
    color: #724ca0;
}

h2 {
    font-size: 1.25em;
    color: #728940;
}

div.slider {
    float: left;
    width: 33%;
}

input[type=range] {
    width: 3em;
    height: 16em;
    -webkit-appearance: slider-vertical; /* WebKit */
}
